@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --red: tomato;
  --gray: #6b7280;
}

.dark {
  --black: black;
  --white: white;
  --mainBg: #303442;
  --aside: #1f1f1f;
}

.light {
  --black: white;
  --white: black;
  --mainBg: #afbff3;
  --aside: #ffffff;
}

.aside {
  @apply bg-[--aside] text-[--white] lg:w-48 w-fit h-screen relative mdTablet:absolute flex flex-col items-center small:shadow-[0_0_12px_1px_var(--aside)]
}

.refAndTheme {
  @apply absolute bottom-0 w-full flex justify-around tablet:items-center lg:py-3 lMobile:bottom-3
}

.aside-Disable {
  @apply tablet:w-fit duration-100
}

.aside-Enable {
  @apply tablet:w-48 duration-300
}

.active {
  @apply text-skyBlue
}

input, textarea {
  @apply bg-[--aside] text-[--white] rounded-lg p-1 focus:text-[--black] focus:bg-[--white] focus:outline-none focus:shadow-inputShadow border-2 border-[--white]
}